.carousel {
  display: none;
  position: relative;
  height: 192px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.carousel * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.carousel input {
  display: none;
}

.carousel__container {
  display: block
}

.carousel__card {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all .7s ease-in-out;
}

.carousel__controls {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  z-index: 10;
}

.carousel__controls .carousel__label {
  display: none;
  position: absolute;
  transition: opacity .2s;
  cursor: pointer;
}

.carousel__img_transform_rotate {
  transform: rotate(180deg);
}

.carousel__card:hover+.carousel__controls .carousel__label {
  opacity: 0.5;
}

.carousel__controls .carousel__label:hover {
  opacity: 1;
}

.carousel__prev-slide {
  position: relative;
  width: 49%;
  text-align: left;
  left: 0;
}

.carousel__next-slide {
  position: relative;
  width: 49%;
  text-align: right;
  right: 0;
}

.carousel__prev-slide:after, .carousel__next-slide:after {
  content: '';
  display: none;
  position: absolute;
  top: 0;
  border-radius: 50px;
  background-color: var(--brow-color, #434343);
  opacity: .75;
  width: 38px;
  height: 38px;
  transition: all .9s ease;
}

.carousel__prev-slide:hover:after {
  display: block;
  left: 0;
}

.carousel__next-slide:hover:after {
  display: block;
  right: 0;
}

input:checked+.carousel__container .carousel__card {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked+.carousel__container .carousel__controls .carousel__label {
  display: block;
}


@media (max-width: 480px) {
  .carousel {
    display: block;
    margin-bottom: 30px;
  }
}