.footer {
  background-color: var(--darker-than-darkaqua-color, #2f324b);
  padding: 45px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white-color, #ffffff);
  gap: 18px;
}

.footer__logo {
  height: 68px;
  margin-right: 19px;
}

.footer__block {
  display: flex;
  align-items: center;
}

.footer__text {
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
}

@media (max-width: 1024px) {
  .footer {
    padding: 40px 0;
  }

  .footer__logo {
    height: 60px;
  }  

  .footer__text_opacity_half {
    opacity: .5;
  
  }
}

@media (max-width: 480px) {
  .footer {
    position: relative;
    padding: 25px 0;
  }

  .footer__logo {
    height: 30px;
    margin-right: 19.07px;
  }

  .footer__text {
    font-size: 8px;
    line-height: 11px;
  }

  .footer__container {
    flex-wrap: wrap;
  }

  .footer__text-block {
    position: absolute;
    text-align: center;
    left: 0;
    top: 80px;
    width: 100%;
    order: 1;
    background-color: var(--blackaqua-color, #2a2c3f);
  }

  .footer__text_opacity_half {
    font-size: 12px;
    line-height: 17px;
    padding: 15px 0;
  }
}


